{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>List of Transactions</h1>
  <li role="presentation"><a href="{% url 'transaction_create_view' profile.id %}">Create Transaction</a></li>

</div>
<div class="container">
  <h3>Balance: {{object.balance}} </h3>
</div>
<div class="container">
  <h5>account number: {{object.account_number}} </h5>
</div>
{% for transaction in object.transactions %}
<div class="panel panel-default">
  <div class="panel-body">
    <li role="presentation">Date of transaction : {{transaction.time_created}}</li>
    <li role="presentation">Amount: {{ transaction.amount }}</li>
    <li role="presentation">Type: {{ transaction.withdrawl_or_deposit }}</li>

  </div>
</div>

{% endfor %}




{% endblock %}
